@font-face {
  font-family: 'Kia Signature';
  src: url('/Fonte/KiaSignatureOTFRegular.otf') format('opentype');
  font-weight: 400; /* Normal */
  font-style: normal;
}

@font-face {
  font-family: 'Kia Signature';
  src: url('/Fonte/KiaSignatureOTFBold.otf') format('opentype');
  font-weight: 700; /* Bold */
  font-style: normal;
}

@font-face {
  font-family: 'Kia Signature';
  src: url('/Fonte/KiaSignatureOTFRegular.otf') format('opentype');
  font-weight: 100; /* Bold */
  font-style: normal;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "IBM Plex Sans", sans-serif;
  max-width: 100%;
}

:root {
  --bg-color: #000000;
  --second-bg-color: #111111;
  --text-color: #fff;
  --main-color: #ac1512;
}

html {
  font-size: 62.5%;
}

html,
body {
  overflow-x: hidden;
  width: 100%;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

section {
  padding: 10rem 5% 0rem; /* Reduzi de 8% para 5% */
}
.invisible {
  display: none;
}

/* Header Section Code */

header {
  /* position: fixed; */
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 5%; /* Reduzindo padding para evitar estouro */
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  transition: all 0.5s ease;
  box-sizing: border-box; /* Garante que padding não afete a largura */
}

.logo-img {
  width: 40rem;
  cursor: pointer;
  transition: 1s ease-in-out;
}

.logo:hover {
  transform: scale(1.1);
}

.navbar {
  display: flex;
}

.navbar a {
  font-size: 2.3rem;
  font-weight: 500;
  color: var(--text-color);
  margin-left: 4rem;
  transition: all 0.5s ease;
  border-bottom: 3px solid transparent;
}

.navbar a:hover,
.navbar a.active {
  color: var(--main-color);
  border-bottom: 3px solid var(--main-color);
}

#menu-icon {
  font-size: 3.6rem;
  color: var(--main-color);
  cursor: pointer;
  display: none;
}

.top-btn {
  position: relative;
  display: inline-block;
}

.nav-btn {
  font-weight: 700;
  font-size: 2.3rem;
  letter-spacing: 2px;
  color: white;
  background-color: #1e2a32; /* Cor escura do botão */
  border: 2px solid white;
  padding: 1.3rem 4.5rem;
  border-radius: 30px;
  cursor: pointer;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  transition: all 0.5s ease;
}

.nav-btn:hover {
  background: var(--main-color);
  color: var(--text-color);
  box-shadow: 0 0 20px var(--main-color);
}

.whatsapp-icon-header {
  position: absolute;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  width: 60px;
  height: 60px;
}

/* Home Section Code */

.home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-content {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 50%;
}

.home-content h1 {
  font-size: 7rem;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 1px;
  font-family: 'Kia Signature';
}

.home-img img {
  width: 75vw;
  height: 100vh;
}

.home-content p {
  font-size: 2.6rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  letter-spacing: 1px;
}

.btn {
  display: inline-block;
  padding: 3rem 4.8rem;
  border: 2px solid #fff;
  border-radius: 8rem;
  box-shadow: none;
  font-size: 3rem;
  color: var(--text-color);
  letter-spacing: 0.8rem;
  font-weight: 700;
  transition: 0.5s ease;
  margin-top: 40px;
  text-align: center;
}

.btn:hover {
  color: var(--text-color);
  box-shadow: 0 0 1.6rem var(--text-color);
}

@media (max-width: 1692px) {
  .home-content h1 {
    font-size: 6rem;
  }

  .home-content p {
    font-size: 2rem;
  }
}

@media (min-width: 1200px) and (max-width: 1460px) {
  .navbar li a {
    font-size: 1.6rem;
  }
  .top-btn {
    /* margin-left: 15px; */
  }
  .nav-btn {
    font-size: 1.3rem;
  }
  .whatsapp-icon-header {
    width: 55px;
    height: 55px;
  }

  .home-content h1 {
    font-size: 5rem;
  }

  .home-content p {
    font-size: 2rem;
  }

  .home-img {
    width: 60vw;
    height: 100h;
  }

  .btn {
    font-size: 2.5rem;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .home-content h1 {
    font-size: 3.5rem;
  }

  .home-content p {
    font-size: 1.8rem;
  }
  .navbar li a {
    font-size: 1.4rem;
  }
  .top-btn {
    margin-left: 15px;
  }
  .nav-btn {
    font-size: 1rem;
    padding: 5px 15px;
  }
  .whatsapp-icon-header {
    width: 45px;
    height: 45px;
  }

  .home-img {
    width: 55vw;
    height: 100h;
  }

  .btn {
    font-size: 2rem;
  }
}

/* About Section */

.about {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  padding: 40px 40px 0;
  gap: 50px;
  background-color: #123f61;
}

.about-img {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}

.about-img img {
  width: 100%;
  max-width: 650px;
  height: 100vh;
}

.about-content {
  flex: 2;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.about-name {
  display: flex;
  align-items: self-end;
  width: 100%;
}
.about-darlan {
  display: flex;
  flex-direction: column;
}

.about-content h1 {
  font-size: 13rem;
  font-weight: bold;
  margin-left: 2rem;
  margin-top: -3rem;
}

.about-content span {
  color: #ffffffb3; /* Tom mais claro para OLÁ, EU SOU */
  font-size: 2.8rem;
  display: block;
  margin-bottom: 3rem;
}

.about-content p {
  font-size: 2rem;
  line-height: 1.6;
  margin-top: 10px;
  max-width: 100%;
  text-align: justify;
}

@media (max-width: 900px) {
  .about {
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }

  .about img {
    max-width: 300px;
  }

  .about-content h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 1267px) {
  .about {
    gap: 0;
  }

  .about-content h1 {
    font-size: 10rem;
  }
  .about-content span {
    font-size: 2rem;
  }
  .about-content p {
    font-size: 2rem;
  }
}

/* resultados alunos */

.services {
  background: var(--second-bg-color);
}

.container-title-services {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  align-items: center;
}

.container-title-services h1 {
  font-size: 15rem;
  text-align: center;
}

.container-title-services h3 {
  font-size: 3rem;
  color: #fc4c47;
  letter-spacing: 3.5rem;
  text-align: center;
}

.container-title-services p {
  color: #545454;
  font-size: 3rem;
  font-weight: 700;
}

.services-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2.3rem;
  margin-top: 4.2rem;
}

.row {
  background: var(--bg-color);
  border-radius: 28px;
  border: 1px solid transparent;
  box-shadow: 0 0 5px var(--main-color);
  padding: 10px;
  transition: all 0.5s ease;
}

.row img {
  height: auto;
  width: 100%;
  border-radius: 28px;
  margin-bottom: 1.4rem;
}

.row h4 {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
  line-height: 1.4;
}

.row:hover {
  border: 1px solid var(--main-color);
  transform: translateY(-5px) scale(1.03);
  cursor: pointer;
}

.container-btn-results {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-results {
  display: inline-block;
  padding: 3rem 4.8rem;
  border: 2px solid #fff;
  border-radius: 8rem;
  box-shadow: none;
  font-size: 2rem;
  color: var(--text-color);
  letter-spacing: 0.8rem;
  font-weight: 700;
  transition: 0.5s ease;
  margin-top: 40px;
  margin-bottom: 40px;
}

@media (max-width: 1020px) {
  .title-one h1 {
    font-size: 12rem;
  }

  .title-one h3 {
    font-size: 2rem;
  }

  .container-title-services p {
    font-size: 2rem;
  }
}

/* Pricing Section Code */

.plans {
  background: #123f61;
  padding-bottom: 3rem;
}

.container-plans-titles {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container-plans-titles h1 {
  font-size: 12rem;
}

.container-plans-titles p {
  font-size: 2.5rem;
  text-align: justify;
}

.container-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 20px;
  margin-top: 10rem;
}

.card {
  background-color: #b52525;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  text-align: center;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  height: 40rem;
  width: 40rem;
}

.card img {
  width: 15rem;
  margin-bottom: 10px;
}

.card p {
  font-size: 2rem;
}
.container-btn-prices {
  display: flex;
  justify-content: center;
}
.btn-prices {
  display: inline-block;
  padding: 3rem 8.8rem;
  border: 2px solid #fff;
  border-radius: 8rem;
  box-shadow: none;
  font-size: 3rem;
  color: var(--text-color);
  letter-spacing: 0.8rem;
  font-weight: 700;
  transition: 0.5s ease;
  margin-top: 40px;
  margin-bottom: 40px;
}

.plans-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.3rem;
  margin-top: 4.2rem;
  padding: 0 1rem;
}

.plan-box {
  background-color: #143447;
  color: white;
  min-height: 50rem;
  width: 40rem;
  padding: 4rem;
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  text-align: left;
}

.h2-price {
  font-size: 3rem;
}

.text-video {
  font-size: 2rem;
  text-align: center;
}

.plan-box h2 {
  font-size: 5rem;
  margin-bottom: 10px;
}

.price-container {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
  margin-bottom: 10px;
}

.installments {
  font-size: 2rem;
  color: #a0aec0;
}

.price-row {
  display: flex;
  align-items: baseline;
}

.price {
  font-size: 3.5rem;
  color: #48bb78;
  font-weight: bold;
  margin-right: 5px;
}

.per-month {
  font-size: 2rem;
  color: #a0aec0;
}

.total-price {
  font-size: 2rem;
  color: #a0aec0;
  margin-top: 2px;
  text-align: center;
  margin-left: 5rem;
}

.details {
  font-size: 14px;
  margin-top: 10px;
}

.details p {
  margin: 1.3rem 0;
  display: flex;
  align-items: center;
  font-size: 2rem;
}

.details p::before {
  content: "✔";
  color: #a0aec0;
  margin-right: 8px;
}

.cta {
  margin-top: 15px;
  font-size: 2rem;
  color: #48bb78;
  font-weight: bold;
  cursor: pointer;
}

@media (max-width: 1564px) {
  .card p {
    font-size: 1.8rem;
  }
}

@media (max-width: 1412px) {
  .card p {
    font-size: 1.7rem;
  }
}

@media (max-width: 1320px) {
  .container-plans-titles h1 {
    font-size: 10rem;
  }
  .container-plans-titles p {
    font-size: 2rem;
  }

  .card p {
    font-size: 1.5rem;
  }
}

@media (max-width: 1010px) {
  .container-plans-titles h1 {
    font-size: 8rem;
  }
  .container-plans-titles p {
    font-size: 1.7rem;
  }
}

@media (max-width: 1024px) {
  .plan-box {
    width: 30rem;
    padding: 3rem;
  }
  .plan-box h2 {
    font-size: 4rem;
  }
  .price {
    font-size: 2.5rem;
  }
  .details p {
    font-size: 1.6rem;
  }
}

/* review */

.container-review {
  background-color: black;
  color: white;
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.container-title-review h1 {
  font-size: 10rem;
}

.carousel-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel {
  display: flex;
  gap: 20px;
  animation: scroll 20s linear infinite;
}

.review-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 500px;
  background-color: #1c1c1c;
  border-radius: 10px;
  padding: 20px 0px 20px 0px;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1);
}

.review-card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid red;
  margin-bottom: 10px;
}

.review-card h3 {
  font-size: 3rem;
  margin-bottom: 5px;
}

.stars {
  font-size: 3rem;
  color: gold;
  margin-bottom: 10px;
}

.review-card p {
  font-size: 2rem;
  margin: 2rem;
  text-align: justify;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.carousel:hover {
  animation-play-state: paused; /* Pausa a animação quando o mouse está sobre */
}

/* ******************CONTATO********************* */

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #1c0e12, #200f15);
  padding: 0px 30px;
  border-radius: 10px;
}

.content {
  display: flex;
  flex-direction: column;
}

.container-sobre-titles {
  margin-bottom: 2.5rem;
}

.container-sobre-titles h1 {
  font-size: 12rem;
}

.container-sobre-titles p {
  font-size: 3rem;
}

.container-sobre-down {
  display: flex;
  gap: 3rem;
  margin-top: 100px;
}

.container-title-down {
  font-size: 3rem;
  font-family: 'Kia Signature';
  
}

.container-title-down span {
  color: #ff3530;
}

.social-icons {
  display: flex;
  gap: 15px;
  margin-top: 15px;
}

.social-icons img {
  width: 12rem;
  height: auto;
  cursor: pointer;
}

@media (max-width: 1661px) {
  .container-title-down {
    font-size: 2.5rem;
  }
  .social-icons img {
    width: 10rem;
  }

  .social-icons {
    gap: 10px;
  }
}

@media (max-width: 1520px) {
  .container-sobre-titles h1 {
    font-size: 10rem;
  }

  .container-sobre-titles p {
    font-size: 2.5rem;
  }

  .container-title-down {
    font-size: 2.5rem;
  }
  .social-icons img {
    width: 7rem;
  }

  .social-icons {
    gap: 10px;
  }
}

@media (max-width: 1400px) {
  .personal-img {
    width: 50vw;
  }
}

@media (max-width: 1274px) {
  .personal-img {
    width: 40vw;
  }

  .container-title-down {
    font-size: 2rem;
  }

  .social-icons img {
    width: 6rem;
  }
}

/* ******************Footer Section********************* */

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}

footer img {
  width: 35rem;
}

footer h3 {
  font-size: 2rem;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  width: 50px;
}

/* BreakPoint */

@media (max-width: 991px) {
  #menu-icon {
    display: block;
  }
  .navbar {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 100vw; /* Garante que não ultrapasse a tela */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: var(--bg-color);
    transition: all 0.5s ease;
    overflow-x: hidden;
  }
  .navbar a {
    display: block;
    padding: 17px;
    font-size: 22px;
  }
  .navbar.active {
    right: 0;
  }
  .header {
    padding: 2rem 3%;
  }
  section {
    padding: 0rem 3%;
  }

  .logo-img {
    width: 25rem;
  }

  .whatsapp-icon-header {
    width: 50px;
    height: 50px;
  }
  .nav-btn {
    font-size: 1.5rem;
    padding: 1.3rem 4.5rem;
  }

  .btn {
    padding: 2rem 1rem;
    font-size: 1.7rem;
    letter-spacing: 0.7rem;
    margin-top: 10px;
  }
  .home-img img {
    width: 80vw;
    height: 80vh;
  }

  .home-content h1 {
    font-size: 3rem;
  }

  .home-content p {
    font-size: 1.6rem;
  }

  .about img {
    height: 65vh;
  }

  .about-name {
    justify-content: center;
  }

  .about-content h1 {
    font-size: 6rem;
  }

  .about-content p {
    font-size: 1.6rem;
  }

  .title-one h1 {
    font-size: 10rem;
  }

  .title-one h3 {
    letter-spacing: 2.5rem;
    font-size: 2rem;
  }

  .container-plans-titles p {
    font-size: 1.5rem;
  }

  .container-plans-titles h1 {
    font-size: 7rem;
  }

  .container-cards {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5rem;
  }

  .card {
    width: 30%;
  }

  .card img {
    width: 8rem;
  }

  .card p {
    font-size: 1.5rem;
  }

  .btn-prices {
    padding: 2rem 6.8rem;
    font-size: 2.5rem;
  }

  .container-title-review h1 {
    font-size: 6rem;
  }

  .review-card img {
    width: 80px;
    height: 80px;
  }

  .review-card h3 {
    font-size: 2.5rem;
  }

  .stars {
    font-size: 2.5rem;
  }

  .review-card p {
    font-size: 1.8rem;
  }

  .review-card {
    min-width: 450px;
  }

  .container-sobre-titles {
    margin-bottom: -5rem;
  }

  .container-sobre-titles h1 {
    font-size: 5rem;
  }

  .container-sobre-titles p {
    font-size: 2rem;
  }

  .container-title-down {
    font-size: 1.5rem;
  }

  .social-icons img {
    width: 3.5rem;
  }

  .personal-img {
    width: 50vw;
  }

  footer img {
    width: 25rem;
  }
}

@media (max-width: 768px) {
  .logo-img {
    width: 15rem;
}

#menu-icon {
  font-size: 2.6rem;
}

.nav-btn {
  font-size: 1rem;
  padding: 1rem 3rem;
}

.whatsapp-icon-header {
  width: 30px;
  height: 30px;
}

.home-img {
  display: none;
}

.home {
  background-image: url("./assets/ELEMENTOS/HOME.png");
  background-repeat: no-repeat;
  background-position: -20% center;
  background-size: cover;
  min-height: 90vh;
  text-align: left;
}

.home-content {
  margin-top: 8rem;
  width: 100%;
}

.home-content h1 {
  font-size: 3rem;
  text-transform: uppercase;
}

.textop {
  width: 65%;
}

.home-content p {
  font-size: 2rem;
}

.btn {
  padding: 1.3rem;
  font-size: 2rem;
  width: 40%;
  letter-spacing: 0.3px;
}

/* about */

.about {
  background-image: url(/assets/ELEMENTOS/QUEM\ SOU.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  min-width: 100%;
}

.about img {
  display: none;
}

.about-name {
  display: none;
}

.about-content {
  align-items: unset;
}

.about-content p {
  font-size: 2rem;
}

.mobile-text {
  display: flex;
  flex-direction: column;
  align-items: start;
  font-family: 'Kia Signature';
}

.mobile-text p {
  margin-bottom: 1rem;
  line-height: 0;
  color: #469ed9;
  font-weight: bold;
} 

.mobile-text p:nth-of-type(1) {
  /* Altera o primeiro <p> */
  font-size: 2rem;
}

.mobile-text p:nth-of-type(2) {
  /* Altera o segundo <p> */
  font-size:2.4rem;
}

.mobile-text h4 {
  font-size: 5rem;
} 

.texto-about-mobile {
  display: flex;
  flex-direction: column;
  text-align: justify;
  flex-wrap: wrap;
}


/* alunos */
.container-title-services {
  display: flex;
  flex-direction: column;
}
  

.title-one h1 {
  font-size: 7rem;
}

.title-one h3 {
  letter-spacing: 1rem;
  font-size: 2rem;
}

.p-texto-some {
  display: none;
}

.services-content {
  display: none;
}

.swiper {
  width: 80%;
  padding: 25px 0;
  display: block
}

.swiper-slide {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.slide-image {
  max-width: 100%;
  border-radius: 10px;
}

.quote {
  font-size: 16px;
  margin: 20px 0;
  display: block;
  text-align: center;
}

.feedback-button {
  background-color: #B91C1C;
  border: none;
  padding: 15px 30px;
  border-radius: 25px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  display: block;
  letter-spacing: 0.3rem;
  margin-bottom: 3rem;
  font-family: 'Kia Signature';
}

.swiper-pagination-bullets .swiper-pagination-bullet {
  background: white;
  opacity: 0.3;
}

.swiper-pagination-bullets .swiper-pagination-bullet-active {
  background: red;
  opacity: 1;
}
.none{
  display: none;
}
.swiper-button-next,
.swiper-button-prev {
  background-color: #d53030;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  right: 10px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 16px;
  color: white;
}


.btn-results {
  display: none;
}

/* prices */

.container-plans-titles {
  flex-direction: column;
  justify-content: center;
}

.container-plans-titles h1 {
  font-size: 4rem;
  text-align: center;
}
.container-plans-titles p {
  font-size: 1.3rem;
}

.p-prices-375px {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: justify;
  min-width: 90%;
}

.container-cards {
  display: none;

}

.btn-prices {
  padding: 1rem 3rem;
  font-size: 1.3rem;
  text-align: center;
  letter-spacing: 0.2rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.plans-content {
  display: none;
  overflow-x: scroll;
  justify-content: flex-start;
  flex-wrap: nowrap;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer e Edge antigo */
  gap: 1.3rem

}

.btn-aluno {
    display: inline-block;
    padding: 1rem 2rem;
    border: 2px solid #fff;
    border-radius: 8rem;
    box-shadow: none;
    font-size: 1.3rem;
    color: var(--text-color);
    letter-spacing: 0.2rem;
    font-weight: 700;
    transition: 0.5s ease;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* feedbacks */

.container-review {
  height: 48vh;
}
.container-title-review h1 {
  font-size: 3rem;
}

.carousel {
  display: flex;
  overflow-x: auto;
  gap: 10px;
  scrollbar-width: none; /* Firefox */
  animation: none;
}

.review-card {
  min-width: 40vw;
}
.review-card h3 {
  font-size: 1.5rem;
}

.stars {
  font-size: 1.5rem;
}

.review-card p {
  font-size: 1rem;
}

/* contato */

.container {
  background-image: url(./assets/ELEMENTOS/CONTATO.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  flex-direction: column;
  justify-content: initial;
  align-items: center;
  text-align: left;
  min-height: 100vh;
  background-color: #2b1720;
  border-radius: 0;
}

.contato-mobile {
    display: block;
    font-size: 3rem;
    text-align: center;
}
.container-img-contact{
  display: none;
}

.container-sobre-titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 7rem;
}

.container-sobre-titles h1 {
  font-size: 9rem;
}
.container-title-down {
  font-size: 3rem;
  text-align: left;
}


.container-sobre-down {
  display: flex;
  gap: 0;
  margin-top: 18rem;
  flex-direction: column;
}

.social-icons {
  margin-top: 0;
  gap: 0.1rem;
  justify-content: left;
  margin-left: -1rem;
}

.social-icons img {
  width: 8rem;
}

/* footer */

footer img {
  width: 15rem;
}

footer h3 {
  font-size: 2rem;
}

footer {
  padding: 20px;
}
}

@media (max-width: 425px) 

{

  .invisiblemb {
    display: none;
  }
  .logo-img {
    width: 10rem;
}

#menu-icon {
  font-size: 2.6rem;
}

.nav-btn {
  font-size: 0.8rem;
  padding: 0.5rem 0.7rem;
}

.whatsapp-icon-header {
  width: 25px;
  height: 25px;
}

.home-img {
  display: none;
}

.home {
  background-image: url("./assets/ELEMENTOS/HOME.png");
  background-repeat: no-repeat;
  background-position: 20px center;
  background-size: cover;
  min-height: 55vh;
  text-align: left;
}

.home-content {
  margin-top: 8rem;
  margin-top: 8rem;
  width: 93%;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.home-content h1 {
  font-size: 3rem;
  text-transform: uppercase;
}

.textop {
  width: 85%;
  text-align: justify;
}

.home-content p {
  font-size: 1.3rem;
}

.btn {
  padding: 0.6rem;
  font-size: 1.3rem;
  width: 50%;
  letter-spacing: 0.3px;
}

/* about */

.about {
  background-image: url(/assets/ELEMENTOS/QUEM\ SOU.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 54vh;
  min-width: 100%;
  padding: 40px 32px 10px;
}

.about img {
  display: none;
}

.about-name {
  display: none;
}

.about-content {
  align-items: unset;
}

.about-content p {
  font-size: 1.3rem;
}

.mobile-text {
  display: flex;
  flex-direction: column;
  align-items: start;
  font-family: 'Kia Signature';
}

.mobile-text p {
  margin-bottom: 0.5rem;
  line-height: 0;
  color: #469ed9;
  font-weight: bold;
} 

.mobile-text p:nth-of-type(1) {
  /* Altera o primeiro <p> */
  font-size: 1rem;
}

.mobile-text p:nth-of-type(2) {
  /* Altera o segundo <p> */
  font-size: 1.4rem;
}

.mobile-text h4 {
  font-size: 3rem;
} 

.texto-about-mobile {
  display: flex;
  flex-direction: column;
  text-align: justify;
  flex-wrap: wrap;
}


/* alunos */
.container-title-services {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
  

.title-one h1 {
  font-size: 6rem;
}

.title-one h3 {
  letter-spacing: 1rem;
  font-size: 1.3rem;
}

.p-texto-some {
  display: none;
}

.services-content {
  display: none;
}

.swiper {
  width: 100%;
  padding: 25px 0;
  display: block
}

.swiper-slide {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.slide-image {
  min-width: 300px;
  border-radius: 10px;
}

.quote {
  font-size: 16px;
  margin: 20px 0;
  display: block;
  text-align: center;
}

.feedback-button {
  background-color: #B91C1C;
  border: none;
  padding: 15px 30px;
  border-radius: 25px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  display: block;
  letter-spacing: 0.3rem;
  margin-bottom: 3rem;
  font-family: 'Kia Signature';
}

.swiper-pagination-bullets .swiper-pagination-bullet {
  background: white;
  opacity: 0.3;
}

.swiper-pagination-bullets .swiper-pagination-bullet-active {
  background: red;
  opacity: 1;
}
.none{
  display: none;
}
.swiper-button-next,
.swiper-button-prev {
  background-color: #d53030;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  right: 10px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 16px;
  color: white;
}


.btn-results {
  display: none;
}

/* prices */
.price-title-fique {
  width: 80%;
  display: flex;
  gap: 8px;
}
.container-plans-titles {
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 40px 32px 0px;
}

.container-plans-titles h1 {
  font-size: 3.5rem;
}
.container-plans-titles p {
  font-size: 1.3rem;
}

.p-prices-375px {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: justify;
  min-width: 80%;
}

.container-cards {
  display: none;

}

.btn-prices {
  padding: 1rem 3rem;
  font-size: 1.3rem;
  text-align: center;
  letter-spacing: 0.2rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.plans-content {
  display: none;
  overflow-x: scroll;
  justify-content: flex-start;
  flex-wrap: nowrap;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer e Edge antigo */
  gap: 1.3rem

}

.btn-aluno {
    display: inline-block;
    padding: 1rem 2rem;
    border: 2px solid #fff;
    border-radius: 8rem;
    box-shadow: none;
    font-size: 1.3rem;
    color: var(--text-color);
    letter-spacing: 0.2rem;
    font-weight: 700;
    transition: 0.5s ease;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* feedbacks */

.container-review {
  padding: 30px 32px 0px;
  height: 70vh;
}
.container-title-review h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.carousel {
  display: flex;
  overflow-x: auto;
  gap: 10px;
  scrollbar-width: none; /* Firefox */
  animation: none;
}

.review-card {
  min-width: 100%;
}
.review-card h3 {
  font-size: 1.5rem;
}

.stars {
  font-size: 1.5rem;
}

.review-card p {
  font-size: 1.3rem;
}

/* contato */

.container {
  background-image: url(./assets/ELEMENTOS/CONTATO.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  flex-direction: column;
  justify-content: initial;
  align-items: center;
  text-align: left;
  min-height: 40vh;
  background-color: #2b1720;
  border-radius: 0;
  padding: 0;
  margin-top: 30px;
}
.content {
  width: 85%;
  padding-top: 20px;
}
.contato-mobile {
    display: block;
    font-size: 3rem;
    text-align: center;
}
.container-img-contact{
  display: none;
}

.container-sobre-titles {
  display: flex;
  align-items: start;
  margin-bottom: 5rem;
}
.container-sobre-titles h1 {
  font-size: 4.2rem;

}
.container-title-down {
  font-size: 1.5rem;
  text-align: left;
}

.container-sobre-down {
  display: flex;
  gap: 0;
  margin-top: 0;
}

.social-icons {
  margin-top: 0;
  gap: 0.1rem;
  justify-content: left;
  margin-left: -1rem;
}

.social-icons img {
  width: 4rem;
}

/* footer */

footer img {
  width: 10rem;
}

footer h3 {
  font-size: 1rem;
}

footer {
  padding: 20px;
}
}

@media (max-width: 372px) 

{
  .home-content h1 {
    font-size: 2.5rem;
}
}

